body {
    background-color: #222831;
    font-family: 'Lucida Console';
    text-align: center;
}

h2 {
    color: #ececec;
    font-size: 35px;
}

h3 {
    color: #ececec;
}

p {
    color: #ececec;
    font-size: 15px;
}

button {
    font-family: 'Lucida Console';
    border-radius: 5px;
    padding: 7px 20px;
    cursor: pointer;
}

.generate-btn {
    background-color: #30475e;
    color: #ececec;
}

.login-btn {
    background-color: #f2a365;
    color: #30475e;
    margin: auto 5px;
}

.option-btn {
    background-color: #ececec;
    color: #30475e;
    margin: auto auto;
}

.submit-btn {
    background-color: #f2a365;
    color: #30475e;
}

.timer-btn {
    background-color: #ececec;
    color: #30475e;
}

.write-container {
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    height: 75vh;
}

.homelink {
    color: #ececec;
    text-decoration: none;
    font-size: 30px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    margin-bottom: 50px;
}

.input {
    height: 75%;
    border-radius: 5px;
}

.timer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
}

#inner {
    color: #f2a365;
}